NITRO_GRAPHQL_BASE_PATH=/graphql
NITRO_JWT_SECRET=
NITRO_MONGODB_URL=

NITRO_OAUTH_ID=
NITRO_OAUTH_SECRET=

NITRO_RUN_AGGREGATION=

NITRO_S3_REGION=
NITRO_S3_ENDPOINT=
NITRO_S3_BUCKET=
NITRO_S3_KEY=
NITRO_S3_SECRET=

NITRO_SES_REGION=
NITRO_SES_EMAIL=
NITRO_SES_KEY=
NITRO_SES_SECRET=

NITRO_STRIPE_KEY=
NITRO_STRIPE_ENDPOINT_SECRET=
